<div>
    <h2>
        <span jhiTranslate="shopApp.logCart.home.title">Log Carts</span>
        <button class="btn btn-primary float-right jh-create-entity create-log-cart" [routerLink]="['/', { outlets: { popup: ['log-cart-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shopApp.logCart.home.createLabel">
            Create new Log Cart
            </span>
        </button>
    </h2>
    <mst-alert></mst-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="logCarts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ip"><span jhiTranslate="shopApp.logCart.ip">Ip</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transactionNumber"><span jhiTranslate="shopApp.logCart.transactionNumber">Transaction Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cartOperation"><span jhiTranslate="shopApp.logCart.cartOperation">Cart Operation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="oldData"><span jhiTranslate="shopApp.logCart.oldData">Old Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newData"><span jhiTranslate="shopApp.logCart.newData">New Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="shopApp.logCart.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="shopApp.logCart.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="shopApp.logCart.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="shopApp.logCart.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logCart of logCarts ;trackBy: trackId">
                <td><a [routerLink]="['../log-cart', logCart.id ]">{{logCart.id}}</a></td>
                <td>{{logCart.ip}}</td>
                <td>{{logCart.transactionNumber}}</td>
                <td jhiTranslate="{{'shopApp.CartOperation.' + logCart.cartOperation}}">{{logCart.cartOperation}}</td>
                <td>{{logCart.oldData}}</td>
                <td>{{logCart.newData}}</td>
                <td>{{logCart.createdBy}}</td>
                <td>{{logCart.createdDate | date:'medium'}}</td>
                <td>{{logCart.lastModifiedBy}}</td>
                <td>{{logCart.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../log-cart', logCart.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-cart/'+ logCart.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'log-cart/'+ logCart.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logCarts && logCarts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
