<div>
    <h2>
        <span jhiTranslate="shopApp.product.home.title">Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/', { outlets: { popup: ['product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shopApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <mst-alert></mst-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="shopApp.product.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="shopApp.product.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="shopApp.product.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="shopApp.product.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="shopApp.product.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="shopApp.product.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="shopApp.product.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="shopApp.product.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="shopApp.product.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="item.id"><span jhiTranslate="shopApp.product.item">Item</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['../product', product.id ]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td>
                    <a *ngIf="product.image" (click)="openFile(product.imageContentType, product.image)">
                        <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 30px;" alt="product image"/>
                    </a>
                    <span *ngIf="product.image">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                </td>
                <td>{{product.createdBy}}</td>
                <td>{{product.createdDate | date:'medium'}}</td>
                <td>{{product.lastModifiedBy}}</td>
                <td>{{product.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="product.item">
                        <a [routerLink]="['../item', product.item?.id ]" >{{product.item?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product', product.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="products && products.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
